.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 20px;
    /* modify background color here*/
    background-color: aquamarine;
    font-family: Eras ITC;
    color: #ff1493;
    
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 15px;
    background-color: #ffffff;
    /* modify margin and padding here*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 10px;
    width:290px;

    font-family: fantasy;
    
}
